@model mvcBlog.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondaryImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondaryImage)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
