@model mvcBlog.Models.UserProfileWithRolesModel

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] SystemRoles = ViewBag.SystemRoles;
    string[] UserRoles = ViewBag.Roles;
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    <h2>Editing profile for: @Html.ValueFor(model => model.UserName)</h2>
    <fieldset>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMail)
            @Html.ValidationMessageFor(model => model.EMail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Twitter)
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Facebook)
            @Html.ValidationMessageFor(model => model.Facebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebSite)
            @Html.ValidationMessageFor(model => model.WebSite)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.isActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isActive)
            @Html.ValidationMessageFor(model => model.isActive)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Roles)
        </div>
        <div class="editor-field">
          @foreach(var role in SystemRoles) {

                <label class="checkbox">
                    @if (UserRoles.Contains(role))
                    {
                        <input type="checkbox" name="Roles" value="@role" checked="checked"> @role
                    }
                    else
                    {
                        <input type="checkbox" name="Roles" value="@role"> @role
                    }
                </label>

                }
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
