@model mvcBlog.Models.SocialBlogStat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SocialBlogStat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SocialSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SocialSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SharedCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SharedCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blog.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blog.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
